*{
	margin: 0px;
	padding: 0px;
}
/*使body高度填充全屏*/
html,body{
	height: 100%;
}
body{
	
	overflow: hidden;
	height:100%;background-image:url(../img/back_log.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.container{
	width:300px;
	margin:0 auto;
	text-align: center;
}
.title{
	padding-top: 150px;
	font-size:18px;
}
.login{
	position: absolute;
	top: 250px;
}
.login .list{
	padding-top:20px;;
}
.login .list label{
	width:80px;
	display: inline-block;
}
.login .list .text{
	font-size:16px;
	border:0px;
	width:200px;
	background-color: transparent;
	border-bottom: 1px  dashed #c90;
}